@using Domain;

<div class="container mt-4">
    @if (ViewBag.success != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @ViewBag.success
        </div>
    }
    else if (ViewBag.error != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.error
        </div>
    }

    <div class="text-center">
        <h1 class="display-4">Functionalities</h1>
        <hr class="my-4">
    </div>

    <div class="container">
        <h3>Student:</h3>
        <ul>
            <li>View enrolled courses</li>
        </ul>

        <h3>Instructor:</h3>
        <ul>
            <li>View taught courses</li> 
            <li>View users enrolled in their courses</li>
        </ul>

        <h3>Operator:</h3>
        <ul>
            <li>View users</li>
            <li>View courses</li>
            <li>Create courses</li>
            <li>Enroll students</li>
            <li>Add and remove courses from instructors' portfolios</li>
        </ul>

    </div>
</div>
